<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>

<style>
    .line{
        border-style: solid;
        border-width: 5px;
		padding-left: 6px;
		padding-bottom: 6px;
		padding-right: 6px;
		padding-top: 6px;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<p>{{ saludo }}</p>
<p>{{ permisos }}</p>
<p>Usuario</p>
<form action="/salir/" method="post">{% csrf_token %}
    <button type="submit">Cerrar Session</button>
</form>

<h1>Agregar Nueva Tarjeta</h1>
<div class="line">
    <form action="/tarjeta/" method="post">{% csrf_token %}
            <p>nombre personalizado de la tardeja (chesko):</p>
            <input type="text" name="nombre_tar" value=""> </br>
            <p>Numero Tarjeta:</p>
            <input type="text" name="nro_tarjeta" value=""> </br>
            <p>Cardholder Name (visa, mastercard,bnb):</p>
            <input type="text" name="cardholder_name" value=""> </br>
            <p>Fecha de expiracion:</p>
            <input type="date" name="fecha_expiracion" value=""> </br>
        <button type="submit">Agregar</button>
    </form>
</div>

<h1>Productos</h1>
<form action="/comprar/" method="post">{% csrf_token %}
    {% for producto in productos %}
    <div class="line">
        <input type="checkbox" name="checks" value="{{ producto.id_producto }}"> 
        <p>Producto:  {{producto.valor}}</p>
    </div>
    {% endfor %}
    <h1>Envio de la factura</h1>
    <div class="line">
        <div id="states" onChange="populateCities()">
          States : <select id="StatesList" name="StatesList"> </select>
        </div>

        <div id="Cities">
          Cities : <select id="CitiesList" name="CitiesList"> </select>
        </div>
            <p>Correo electronico para envio de factura  </p>
            <input type="email" name="correo_e" value=""> 

        <div id="Tajetas">
          Tarjeta : <select id="TarjetaList" name="TarjetaList"> </select>
        </div>
    </div>

    <button type="submit">Comprar</button>
</form>
<script type="text/javascript">
    //Tarjetas
    usuario = JSON.stringify("{{ u_tarjetas | safe }}");
    usuario = usuario.replace(/u\'/g, "\'");
    usuario = usuario.replace(/\'/g, "\"");
    console.log(usuario)
    usuario = usuario.substring(1, usuario.length-1)
    usuario = JSON.parse(usuario);
    tarjetas = usuario.tarjetas
    for (var i = 0; i < tarjetas.length; i++) {
      var opt = tarjetas[i];
      var el = document.createElement("option");
      el.textContent = opt.cardholder_name;
      el.value = opt.id_tarjeta;
      TarjetaList.appendChild(el);
    }
    
    //Pais Cuiudad
    paises = JSON.stringify("{{ paises | safe }}");
    paises = paises.replace(/u\'/g, "\'");
    paises = paises.replace(/\'/g, "\"");
    paises = paises.substring(1, paises.length-1)
    paises = JSON.parse(paises);
    var States = paises;
    //populate states
    for (var i = 0; i < States.length; i++) {
      var opt = States[i];
      var el = document.createElement("option");
      el.textContent = opt.nombre_pai;
      el.value = opt.id_pais;
      StatesList.appendChild(el);
    }
    //Populate initial cities
    populateCities();


    //populate cities
    function populateCities() {
      console.log(States.length)
      //clear the cities list
      document.getElementById('CitiesList').options.length = 0;
      var e = document.getElementById("StatesList");
      var selectedState = e.options[e.selectedIndex].value;
      console.log(selectedState)
      var listOfCities;
      for (var i = 0; i < States.length; i++) {
          estado = States[i]
        if (estado.id_pais == selectedState) {
          listOfCities = States[i].ciudades;
          break;
        }
      }
      //populate Cities DropDown menu
      for (var i = 0; i < listOfCities.length; i++) {
        var opt = listOfCities[i];
        var el = document.createElement("option");
        el.textContent = opt.nombre_ci;
        el.value = opt.id_ciudad;
        CitiesList.appendChild(el);
      }
    }
</script> 
</body>
</html>
